@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>面試題目</h1>
    <p style="color:red">一個具有 CURD 功能的頁面</p>
</div>

<div class="row">
    <div class="col-md-4">
        <a href="@Url.Action("Index","Customer")">Customer</a>
    </div>
</div>